name: ci

on:
  push:
  pull_request:

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install markdownlint
        run: |
          npm install -g markdownlint-cli2@0.20.0

      - name: Lint Markdown
        run: |
          markdownlint-cli2 "**/*.md" "#node_modules" --config .markdownlint.yaml

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Tests
        run: |
          pytest -q
